@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.ui-page .ui-header{
    background: #97CE68 !important;
}
.ui-page .ui-header .ui-title{
    font-size: 1.5em !important;
}

.ui-page .ui-bar{
    font-size: 1.4em !important;
}
.ui-btn .ui-input-btn #sell-certificate-btn{
    background-color: #6BCBCA !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1.3em !important;
}
#back-btn, #signout-btn{
    width:60px;
    margin-top:14px;
}
.ui-radio .ui-btn{
    border-bottom-width: 1px !important;
}
.sale-success{
    padding: 10px;
    text-align: center;
    background-color: #2ecc71;
    color:#ffffff;
    font-size: 1.3em;
}
.sale-failure{
    padding: 10px;
    text-align: center;
    background-color: #c0392b;
    color:#ffffff;
    font-size: 1.2em;
}
#username-input, #password-input, #certificate-number-input, #amount-input{
    font-size:1.5em !important;
}
#dashboard, #sell-cert, #redeem-certificate, #certificate-balance{
    font-family: 'Open Sans', sans-serif !important;
}
/*BEGIN PAGE: SELL-CERTIFICATE.PHP*************************************************************************************/
.ui-radio label {
    height:42px;
    line-height: 42px;
    padding-left: 40px;
    font-size: 1.3em;
}
.ui-radio .ui-btn{
    margin: 10px;
    text-align: center;
}
.ui-radio input{
    display:none;
}
.ui-radio .ui-radio-off:after{
    display: none;

}
.ui-radio .ui-radio-on{
    background-color: #FF6766 !important;

}
.ui-input-btn{
    background-color: #6BCBCA !important;
    font-size: 1.3em !important;
}
/*END PAGE: SELL-CERTIFICATE.PHP***************************************************************************************/
/*BEGIN PAGE: DASHBOARD.PHP********************************************************************************************/
#open-sell-cert-page, #open-redeem-cert-page, #open-check-balance-page{
    font-size:1.3em;
    background-color: #6BCBCA;
    color:#ffffff;
}
/*END PAGE: DASHBOARD.PHP**********************************************************************************************/
